/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$primary-color: #132743 !default;
$footer-background-color: $primary-color !default;
$body-color: #132743 !default;
$text-color: #407088 !default;
$masthead-link-color: #132743 !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $primary-color;
}
